<div class="container">
    <div class="title">
      <h1>Listado de Productos</h1>
      <button type="submit" class="btn btn-primary" routerLink="/newProduct">Agregar
        Producto</button>
    </div>
    <table *ngIf="listProducts.length > 0" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre del Producto</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Stock</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of listProducts">
          <td>{{product.id_productos}}</td>
          <td>{{product.nombre_producto}}</td>
          <td>{{product.desc_producto}}</td>
          <td>{{product.stock}}</td>
          <td>{{product.precio}}</td>
          <td>{{product.imagen}}</td>
          <td>
            <button type="submit" class="btn btn-info" routerLink="/editProduct/{{product.id_productos}}">Editar</button>
            <button (click)="deleteProduct(product.id_productos!)" type="submit" class="btn btn-secondary ms-2">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h5 *ngIf="listProducts.length == 0">
      No hay Productos en el sistema
    </h5>
  
  
  </div>