<div class="container">

  <div class="container-busqueda">
    <div class="row">
      <div class="col-12">
        <h1>Carrito</h1>
      </div>
    </div>
  </div>

  <div class="cart-container">
    <div class="cart-content">
      <!-- <div class="card" *ngFor="let product of cartProducts">
        <div class="card-body">
          <h5 class="card-title">{{ product.nombre_producto }}</h5>
          <p class="card-text">{{ product.desc_producto }}</p>
          <p class="card-text"><strong>Precio:</strong> {{ product.precio}}</p>
          <a [href]="product.link || '#'" class="btn btn-primary">Eliminar</a>
        </div>
      </div> -->
    </div>

    <div class="cart-summary">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Resumen del Pedido</h5>
          <p class="card-text">Total de productos: </p>
          <p class="card-text"><strong>Total:</strong> </p>
          <button type="submit" class="btn btn-primary">Proceder al pago</button>
        </div>
      </div>
    </div>
  </div>

</div>