<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Compra gamer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administración
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Productos</a></li>
            <li><a class="dropdown-item" routerLink="/services" href="/services">Servicios</a></li>
            <li><a class="dropdown-item" routerLink="/users" href="/users">Usuarios</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="!userService.isAuthenticated()" routerLink="/login"
            href="/login">Ingresar </a>
          <a class="nav-link active" aria-current="page" *ngIf="userService.isAuthenticated()" (click)="onLogout()"
            routerLink="/" href="/">Salir </a>
          <!-- <button *ngIf="!userService.isAuthenticated()" (click)="onNavigateToLogin()">Ingresar</button>
          <button *ngIf="userService.isAuthenticated()" (click)="onLogout()">Logout</button> -->
        </li>
      </ul>
    </div>
    <a href=""><svg routerLink="/signup" href="/signup" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
        <path
          d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
      </svg></a>

  </div>
</nav>