<div class="container">
  <div class="container-busqueda">
    <div class="row">
      <div class="col-12">
        <h1>Productos</h1>
      </div>
    </div>
    <form class="d-flex" role="search" [formGroup]="formSearch" (ngSubmit)="getProdByName()">
      <input class="form-control me-2" placeholder="Buscar" aria-label="Search" formControlName="productName">
      <button class="btn btn-primary" type="submit">Buscar</button>
      <button class="btn btn-outline-secondary" type="button" style="margin-left: 9px;"
        (click)="getProducts()">Limpiar</button>
    </form>
  </div>

  <div class="container-cards">
    <div class="card" style="width: 18rem;" *ngFor="let product of listProd">
      <img [src]="'assets/products/' + product.imagen" class="card-img-top" [alt]="'assets/products/' + product.imagen">
      <div class="card-body">
        <h5 class="card-title">{{ product.nombre_producto }}</h5>
        <p class="card-text">{{ product.desc_producto }}</p>
        <p class="card-text"><strong>Precio:</strong> {{ product.precio | currency:'USD' }}</p>
        <a (click)="addProdToCart(product)" class="btn btn-primary" *ngIf="product.stock > 10  ">Agregar al Carrito</a>
        <a class="btn btn-danger" *ngIf="product.stock  <= 10 ">Sin Stock</a>
      </div>
    </div>
  </div>




</div>