.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}


.card {
  margin: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

#cartButton {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}