<div class="container">
  <form class="form-login" *ngIf="!loading">
    <div class="form-floating mb-3">
      <h2>Servicio</h2>
    </div>
    <div class="col-12">
      <label for="inputUsuario" class="form-label">Descripcion del servicio</label>
      <input type="text" [(ngModel)]="desc_service" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-12">
      <label for=" inputPassword4" class="form-label">Precio</label>
      <input type="text" [(ngModel)]="price" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" id="botonAgregar" class="btn btn-primary" (click)="addService()">Agregar</button>
    <button type="submit" id="botonVolver" class="btn btn-primary" routerLink="/services">Volver</button>

  </form>
  <app-spinner *ngIf="loading"></app-spinner>
</div>