<div class="container">
  <form class="form-login" [formGroup]="formLogin">
    <div class="form-floating mb-3">
      <h2>Ingreso</h2>
    </div>
    <div class="col-12">
      <label for="inputUsuario" class="form-label">Nombre de usuario</label>
      <input type="text" class="form-control" formControlName="username">
      <span *ngIf="formLogin.get('username')?.hasError('required') && formLogin.get('username')?.touched">
        El campo Nombre de Usuario <strong>es requerido</strong>
      </span>
    </div>
    <div class="col-12">
      <label for="inputPassword" class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password">
      <span *ngIf="formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched">
        El campo Contraseña <strong>es requerido</strong>
      </span>
    </div>
    <div class="mb-3" class="acceso-registro">
      <p>No tienes cuenta? <a routerLink="/signup" href="/signup">Registrate</a></p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formLogin.invalid" (click)="login()">Ingresar</button>
  </form>
</div>