<div class="container">
  <form class="form-login" *ngIf="!loading">
    <div class="form-floating mb-3">
      <h2>Ingreso</h2>
    </div>
    <div class="col-12">
      <label for="inputUsuario" class="form-label">Nombre de usuario</label>
      <input type="text" [(ngModel)]="userName" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-12">
      <label for=" inputPassword4" class="form-label">Contraseña</label>
      <input type="password" [(ngModel)]="password" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3" class="acceso-registro">
      <p>No tienes cuenta? <a routerLink="/signup" href="/signup">Registrate</a></p>
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">Ingresar</button>
  </form>
  <app-spinner *ngIf="loading"></app-spinner>
</div>