.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    margin-left: 9rem;
    margin-right: 9rem;
    margin-bottom: 1rem;
}


