<div class="container">

  <form class="row g-3
  " [formGroup]="formUser" (ngSubmit)="addUser()" >
    <div class="col-8">
      <h2>{{ operacion }} Usuario</h2>
    </div>

    <div class="col-md-6">
      <label for="inputUsuario" name="userName" class="form-label">Nombre de
        usuario</label>
      <input type="text" class="form-control" formControlName="userName">
      <span *ngIf="formUser.get('userName')?.hasError('required') && formUser.get('userName')?.touched">
        El campo Nombre de Usuario <strong>es requerido</strong>
      </span>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password">
      <span *ngIf="formUser.get('password')?.hasError('required') && formUser.get('password')?.touched">
        El campo Contraseña <strong>es requerido</strong>
      </span>
    </div>
    <div class="col-12">
      <label for="inputTipoUsuario" class="form-label">Tipo de Usuario</label>
      <select class="form-select" aria-label="Default select example" formControlName="tipo_usuario"> 
        <option selected>Seleccione el tipo de usuario</option>
        <option value="1">Administrador</option>
        <option value="2">Cliente</option>
      </select>
    </div>
    <div class="col-12">
      <label for="inputEmail" class="form-label">Email</label>
      <input id="user-email" type="text" class="form-control" formControlName="email"> 
      <span *ngIf="formUser.get('email')?.hasError('required') && formUser.get('email')?.touched">
        El campo Email <strong>es requerido</strong>
      </span>
      <span *ngIf="formUser.get('email')?.hasError('email')">
        El campo Email <strong>no tiene un formato válido</strong>.
      </span>
    </div>
    <div class="col-12">
      <label for="inputTelefono" class="form-label">Telefono</label>
      <input type="text" class="form-control" formControlName="phone">
      <span *ngIf="formUser.get('phone')?.hasError('required') && formUser.get('phone')?.touched">
        El campo Telefono <strong>es requerido</strong>
      </span>
    </div>
    <div class="col-md-6">
      <label for="inputNombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="name">
      <span *ngIf="formUser.get('name')?.hasError('required') && formUser.get('name')?.touched">
        El campo Nombre <strong>es requerido</strong>
      </span>
    </div>
    <div class="col-md-6">
      <label for="inputApellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" formControlName="lastName">
      <span *ngIf="formUser.get('lastName')?.hasError('required') && formUser.get('lastName')?.touched">
        El campo Apellido <strong>es requerido</strong>
      </span>
    </div>
    <div class="col-12">
      <label for="inputDireccion" class="form-label">Dirección</label>
      <input type="text" class="form-control" formControlName="address">
      <span *ngIf="formUser.get('address')?.hasError('required') && formUser.get('address')?.touched">
        El campo Direccion <strong>es requerido</strong>
      </span>
    </div>
    <div class="col-12">
      <button type="submit" [disabled]="formUser.invalid" class="btn btn-primary">{{operacion}}</button>

    </div>
  </form>